
.webmadewell {
  background-color: white;
}
body {
  margin: 0;
}
body {
  font-family: 'Orbitron', sans-serif;
}

 header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative; /* Needed for z-index to take effect */
  z-index: 1000; /* Any high number can be used */
}
.logo{
  display: flex;
    padding: 14px 16px;
}
.logo span {
  padding-left: 20px;
  color: #c4672d;
  border: #c4672d;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #0A2942;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:active {
  color: #c4672d;
  text-decoration: underline;
}

.contact-button {
  background-color: #c4672d;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: white;
  text-decoration: underline;
  text-decoration-color: white;
}
.sample-header {

    background-attachment: fixed;
    padding-bottom: 10%;  
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url("assets/main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* .sample-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: MidnightBlue;
  opacity: 0.3;
} */
.sample-header-section {  
  position: relative;
  padding: 15% 0 10%;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}

.sample-header-section .get-started,
.sample-header-section .our-project {
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  
}

.sample-header-section .get-started {
  height: 60px;
  width: 200px;
  background-color: #314D71;
  border-radius: 7px;
  color: white;
}
.sample-header-section .get-started:hover {
  background-color: #FE5D55;
  text-decoration-color: white;
}
.sample-header-section .our-project {
  
  height: 50px;
  background-color: #FE5D55;
  color: white;
}
.sample-header-section .idea {
  font-size: 55px;
  color: #FE5D55;
  text-decoration: underline;
}

.sample-header-section .happen {
  font-size: 55px;

  color: #314D71;
}
h1 {
  font-weight: 500;
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px black;
  font-size: 50px;
  line-height: 1.5;
}
h2 {
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px black;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
}
h3 {
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px black;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}
.sample-section-wrap {
  position: relative;
  background-color: white;
}
.sample-section {
  position: relative;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
p{
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
